@import "tailwindcss";

@plugin '@tailwindcss/typography';

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 320px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --animate-spin-fast: spin 0.6s ease infinite;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  ::file-selector-button {
    @apply cursor-pointer rounded-xs border border-gray-500 bg-gray-100 px-1.5 py-0.5 hover:bg-gray-200;
  }
}

.center {
  @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.x-center {
  @apply absolute left-1/2 -translate-x-1/2;
}

.y-center {
  @apply absolute top-1/2 -translate-y-1/2;
}

.password-icon {
  @apply absolute top-1/2 right-3 box-content -translate-y-1/2 rounded-full p-1 text-gray-400 hover:bg-gray-100;
}

.primary-button {
  @apply col-span-2 mt-3 rounded-sm border border-black bg-gray-100 py-1 font-medium text-gray-800 disabled:opacity-50;
}

.button-animation {
  @apply border-black bg-gray-100 text-black transition-all duration-300 hover:bg-black hover:text-white focus:ring-2 focus:ring-black focus:ring-offset-2 focus:outline-hidden;
}

.image-container {
  @apply relative flex h-80 max-h-[35vh] w-80 max-w-[90vw] cursor-pointer justify-center rounded-lg pt-4 pb-12 shadow-md transition-all duration-300 select-none hover:shadow-2xl sm:flex-[0_0_40%];
}

.preview-container > div *:not(svg):not(svg *) {
  @apply max-h-96 w-full max-w-[90vh] whitespace-pre-line;
}

.preview-container > div iframe {
  @apply h-96;
}

.preview-container > div audio {
  @apply w-80!;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 2.5px;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(128, 128, 128, 0.75);
}
